<h2>Template Básicos</h2>

<div class="row">
    <div class="col">
        <form action=""
              (ngSubmit)="guardar()"
              #miForm="ngForm">

            <div class="row mb-3">
                <label for="prod"
                       class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-6">

                    <input id="prod"
                           name="pro"
                           ngModel
                           type="text"
                           class="form-control"
                           placeholder="Nombre producto"
                           required
                           minlength="3">
                    <!-- 1ra forma de validar campos-->
                    <!-- <small class="text-danger"
                           *ngIf="miForm.touched && !miForm.valid"> -->
                    <small class="text-danger"
                           *ngIf="validarNombreProd() || false">
                        Debe tener minimo 3 letras
                    </small>
                </div>
            </div>

            <div class="row mb-3">
                <label for="precio"
                       class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-6">
                    <input id="precio"
                           name="pre"
                           [ngModel]="0"
                           type="number"
                           class="form-control"
                           placeholder="Precio producto"
                           min="0">

                    <small class="text-danger"
                           *ngIf="validarPrecio()">
                        El precio debe ser mayor a cero '0'
                    </small>
                </div>
            </div>

            <div class="row mb-3">
                <label for="existencia"
                       class="col-sm-2 col-form-label">Existencias</label>
                <div class="col-sm-6">
                    <input id="existencia"
                           name="exi"
                           [ngModel]="0"
                           type="text"
                           class="form-control"
                           placeholder="Existencias producto"
                           required
                           type="number"
                           DirectiPersonali
                           [valorMinimo]="2">

                    <div class="row mt-3">
                        <div class="col">
                            <button [disabled]="miForm.invalid"
                                    class="btn btn-primary float-end"
                                    type="submit">Guardar</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">

        <span>Form Valido</span>
        <pre>{{miForm.valid}}</pre>

        <span>Prestine (Los campos siguen intactos)</span>
        <pre>{{miForm.pristine}}</pre>

        <span>Touched, el form ha sido tocado</span>
        <pre>{{miForm.touched}}</pre>

        <span>Valores del form en json</span>
        <pre>{{miForm.value | json }}</pre>

        <span>Directiva personalizada</span>
        <pre>{{miForm.controls['exi'].errors | json }}</pre>

    </div>
</div>