<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
       <col>
       <form action=""
             autocomplete="off"
             [formGroup]="miFormulario">
              <!-- Nombre -->
              <div class="row mb-3">
                     <label for="nombre"
                            class="col-3">Nombre</label>

                     <input type="text"
                            id="nombre"
                            formControlName="nombre"
                            class="col-9">

                     <small class="text-danger"
                            *ngIf="campoRequerido('nombre')">
                            Debe ser un formato
                            en Nombre y Apellido
                     </small>
              </div>

              <!-- Email -->
              <div class="row mb-3">
                     <label for="email"
                            class="col-sm-3">Email</label>

                     <input type="email"
                            id="email"
                            formControlName="email"
                            placeholder="ejemplo@mail.com"
                            class="col-sm-9">

                     <small class="text-danger"
                            *ngIf="miFormulario.get('email')?.errors?.['required']">
                            Correo es obligatorio
                     </small>

                     <!-- *ngIf="miFormulario.get('email')?.errors?.['emailExiste']" -->
                     <small class="text-danger"
                            *ngIf="correoExiste()"
                            >
                            Correo ya existe

                     </small>

                     <small class="text-danger"
                            *ngIf="miFormulario.get('email')?.errors?.['pattern']">
                            Formato del correo invalido
                     </small>

                     <small class="text-danger"
                     *ngIf="patronEmailInvalido()">
                            Formato del correo invalido
                     </small>

                     <small class="text-danger">
                        {{emailErroMsg}}
                     </small>



              </div>

              <!-- usuario -->
              <div class="row mb-3">
                     <label for="usuario"
                            class="col-sm-3">Usuario</label>

                     <input type="text"
                            id="usuario"
                            formControlName="usuario"
                            class="col-sm-9">

                     <small class="text-danger"
                            *ngIf="miFormulario.controls['usuario'].errors">
                            El usuario ya existe
                     </small>

              </div>

              <!-- password -->
              <div class="row mb-3">
                     <label for="password"
                            class="col-sm-3">Password</label>

                     <input type="password"
                     autocomplete="off"
                            id="password"
                            formControlName="password"
                            class="col-sm-9">
              </div>

              <small class="text-danger"
                     *ngIf="miFormulario.controls['password'].errors">
                     La clave debe ser mayor a 6 digitos
              </small>

              <!-- password2 -->
              <div class="row mb-3">
                     <label for="confirmarPassword"
                            class="col-sm-3">Confirmar password</label>

                     <input type="password"
                     autocomplete="off"

                            id="confirmarPassword"
                            formControlName="confirmarPassword"
                            class="col-sm-9">
              </div>

              <small class="text-danger"
                     *ngIf="miFormulario.controls['confirmarPassword'].errors">
                     Las claves no son iguales
              </small>

              <div class="row">
                     <div class="col">
                            <button type="button"
                                    class="btn btn-primary float-end"
                                    (click)="registrarse()"
                                    [disabled]="miFormulario.pending"
                                    >Registrarse</button>
                     </div>
              </div>
       </form>
</div>

<small>

       <b> Form Valido: </b> {{miFormulario.valid}} <br>
       <b> Form Errores Globales:</b> {{miFormulario.errors | json}} <br>

       <strong>Errores nombre:</strong> {{miFormulario.controls['nombre'].errors | json}} <br>
       <strong>Errores email:</strong> {{miFormulario.controls['email'].errors | json}} <br>
       <strong>Errores email:</strong> {{miFormulario.status | json}} <br>
       <strong>Errores usuario:</strong> {{miFormulario.controls['usuario'].errors | json}} <br>
       <strong>Errores Password:</strong> {{miFormulario.controls['password'].errors | json}} <br>
       <strong>Errores confirmarPassword:</strong> {{miFormulario.controls['confirmarPassword'].errors | json}}
       <br>

</small>